<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>URL Shortening Service</title>
<script>
	function submitAction() {
        document.frmProduct.submit();
	}
</script>
</head>
<body>
<form action='/addOriginalUrl' method="post" name="frmProduct" id="frmProduct">
  ORIGIN URL : <input id='originalUrl' name="originalUrl" type='text' style="width: 500px;" placeholder="Please insert URL (ex: https://www.musinsa.com)"/>
  <input onclick="submitAction()" id="submit_value" type="button" name="submit_value" value="저장">
</form>

</body>
</html>